---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';


---

<!DOCTYPE html>
<html lang="en">
<head>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body>
<Header />
<main>
  <h1>🆕 now</h1>
  <p>
    Updated April 21st, 2024. This is a <a href="https://nownownow.com/about">now</a> page, and this is what I'm focused on right now.
  </p>

  <ul>
    <li>Living in <a href="https://www.cityofglendora.org/" target="_blank">Glendora, CA</a></li>
    <li>Working at <a target="_blank" href="https://panfactum.com">Bambee</a>, Building the best Platform Engineering stack</li>
    <li>Learning Kubernetes & Terraform</li>
    <li>Playing around with <a href="https://deno.com/" target="_blank">Deno</a></li>
    <li>Testing with <a target="_blank" href="https://airbyte.io/">Airbyte</a> and <a target="_blank" href="https://evidence.dev/">Evidence</a> to create my own data stack</li>
  </ul>
</main>
<Footer />
</body>
</html>

<style>
    h1, h2 {
        border-bottom: #eee 1px solid;
    }
</style>