---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🏁 Mentorship for VueJS</h1>
			<p>
				I’m a software engineer that loves using VueJS. I’ve been using Vue for 4 years and have not looked back. Let me guide and fast track you to using Vue today.
			</p>

			<h2>My Stack</h2>
			<b>The Vue Ecosystem</b>
			<p>
      Vue is simple and comes with great documentation. This however does not mean the ecosystem is not complex and full of options. Let’s explore the options and develop a path towards minimal roadblocks and maximum value.
			</p>

			<ul>
        <li><b>Nuxt</b> - A solid foundation that embraces convention over configuration. Nuxt introduces a module system to the Vue ecosystem. Adding plugins like Axios, PWA support, creating Sitemaps, and UI libraries can be accomplished with a simple module install.</li>
        <li><b>Netlify</b> - Development is one thing, but how do you get your code out in the wild. Netlify removes the work that goes into building a pipeline to your production, staging and development environments.</li>
        <li><b>Storybook</b> - Storybook is the ultimate playground for frontend developers building components and interfaces. It allows you to build and demonstrate the capabilities of what you’ve built.</li>
        <li><b>TailwindCSS</b> - Tailwind provides a common Class based language in building styles. It provides flexibility and does not lock you into a framework. You are just learning a set of utility classes to get the job done.</li>
			</ul>

			<h2>Services</h2>
      <b>Multiple angles of learning</b>
      <p>
      Coaching from Mentor, Peer and Alumni support, through Pair Programming, chat and PR Review.
      </p>

      <ul>
        <li><b>Pair Programming</b> - It is extremely important that we build a relationship and learn how to communicate and work with each other. Through pair programming, I can provide immediate feedback and work on your challenges together. Whether it’s questions on documentation or code that you’re writing for work let’s solve them together.</li>
        <li><b>Peer Programming</b> - Mentor is one part of mentorship. I will pair you with another Mentees also learning Vue. Pairing with a mentee expands the different types of challenges and provide a cooperative environment to problem solve.</li>
        <li><b>Invitation to Private Slack Server
</b> - Chat is a great tool for handling asynchronous idea sharing and discussions. Throughout the day, week, we can explore your questions and curiosities together. We are building a network of Alumnis that have asked and solved the challenges focused in our stack.</li>
        <li><b>Pull Request Review
CSS</b> - As you become comfortable with Vue and start making commits towards projects, the PR process is a great place to gain additional insights. The context provided by a project tailors the design decisions and feedback that can be provided.</li>
      </ul>
		</main>
		<Footer />
	</body>
</html>

