---
import BaseHead from '../../../components/BaseHead.astro';
import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../../config';
import Topics from "../../../modules/qna/Topics.svelte";
const pageTitle = 'Question and Answers';

---

<!DOCTYPE html>
<html lang="en">
<head>
  <BaseHead title={pageTitle} description={SITE_DESCRIPTION} />
</head>
<body>
<Header title={SITE_TITLE} />
<main>
  <h1>🏁 {pageTitle}</h1>
  <Topics client:only />
</main>
<Footer />
</body>
</html>
